<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            <p>

                <a style="margin:20px;" href="/about/">About</a>
                <a style="margin:20px" href="/classes/">Lessons</a>
                <a style="margin:20px" href="/contact/">Contact</a>
            </p>
                
            </div>
             <div class="col-sm-4">
                <p class="text-center" style="text-transform:uppercase;">Made with <a href="http://www.1871.com/"><icon style="color:#e74c3c;" class="fa fa-heart"></icon></a> in Chicago</p>
            </div>
             <div class="col-sm-4">
                <p class="copyright text-muted">Copyright &copy; {{ site.time | date: '%Y' }}</p>
            </div>
                
                
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="http://smartapps4.com/lead-to-revenue/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="http://smartapps4.com/lead-to-revenue/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="http://smartapps4.com/lead-to-revenue/js/clean-blog.js"></script>
